.header {
    display: fixed;

}

.navbar {
    padding: 20px;
}

.navbar > .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 28px;
    color : var(--primary);
    font-weight: 700;
    padding: 5px 0;
    line-height: 42px;
}

.navbar__menulist {
    display: flex;
    align-items: center;
    
}

.navbar__menuItem  a{
    color: #071e55;
    font-size: 17px;
    line-height: 30px;
    padding: 10px 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.navbar__discoverLink {
    line-height: 30px;
    font-size: 17px;

}

.navbar__discoverLink a {
    border: 1px solid #e52f37;
    color: #fff;
    background: #e52f37;
    border-radius: 23px 23px;
    padding: 12px 18px !important;
    margin-left: 10px;
    margin-right: 15px;
    font-family: 'Nunito', sans-serif;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar__discoverLink a:hover {
    background: transparent;
    color: var(--primary) !important;

}